
@import "bootstrap/functions";
@import "bootstrap/variables";

//
// Grid mixins
//

@import "bootstrap/mixins/breakpoints";


// including variables and mixins
@import "theme/variables";
@import "theme/mixins";
@import "theme/flexbox";
@import "theme/reset";


// Custom Scss
@import "theme/elements";
@import "theme/header";
@import "theme/home";
@import "theme/about";
@import "theme/price";
@import "theme/blog";
@import "theme/contact";
@import "theme/footer";

section.home-about-area.pt-120 {
  background:$blue;
  color:$white;
}
.section-gap{
  background: $blue;
}
section.services-area.section-gap {
    background: $blue;
    color:$black;
}
.home-about-right h1, h1.mb-10{
  color:$th-color;
}
.title.text-center{
  color:$offwhite;
}

.single-services .lnr {

    color: $fh-color;
}
p {
    color: $white;
}
h4 {
  color:$white;
}
